---
---
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html, body { height: 100%; }

body {
  margin-bottom: 40px;
  color: #5a5a5a;
}

a.active {
  font-weight: bold;
}

.header {
  text-align: center;
}

.header > * {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

.header img {
  height: 200px;
  margin-bottom: 25px;
}

.header .tagline .main {
  font-size: 50px;
  color: #868686;
}

.header .tagline .sub {
  font-size: 30px;
  color: #a1a1a1;
}

@media (min-width: 768px) {
  .header img {
    border-right: solid 3px #ddd;
  }
}

.screenshot {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: 30px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .tagline {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.marketing .tagline h1 {
  color: black;
}

.marketing .tagline h2 {
  font-weight: normal;
  padding-bottom: 10px;
}

.marketing .tagline h1 a, .marketing .tagline h2 a {
  color: inherit;
  border-bottom: 1px solid #999;
}

.marketing .tagline h1 a:hover, .marketing .tagline h2 a:hover {
  text-decoration: none;
  border-bottom: 2px solid #999;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette img {
  border-radius: 5px;
  box-shadow: 0 30px 100px rgba(0,0,0,0.2);
}



/* RESPONSIVE CSS
-------------------------------------------------- */

.navbar-wrapper .container {
  padding: 0;
}

.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
     margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
