---
layout: common
---

<div class="front-navbar">
  {% include navbar.html %}
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active logo">
    </div>
  </div>
</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Tag line below the carousel -->
  <div class="tagline">
    <h1>
      <b>Juno</b> is a powerful, free environment for the
      <a href="http://julialang.org"><b>Julia</b></a> language.
    </h1>
    <h2>
      Read more about it below or
      <a href="{{site.url}}/docs/installing.html">get going</a> straight away.
      </h2>
    <a href="{{site.url}}/docs/installing.html" class="btn btn-primary btn-lg pull-right" role="button">
      Installation &raquo;
    </a>
  </div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Walks like Python.
        <span class="text-muted">Runs like C.</span>
      </h2>
      <p class="lead">
        Juno builds on Julia's unique combination of ease-of-use
        and performance. Beginners and experts can build more powerful
        programs more quickly, and get to a result faster.
      </p>
    </div>
    <div class="col-md-5">
      <img id="mandel" class="featurette-image img-responsive" src="{{site.url}}/images/mandel.png">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="{{site.url}}/images/error.png">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Useful, real-time feedback.
        <span class="text-muted"></span>
      </h2>
      <p class="lead">
        With a completely live environment, Juno aims to take the frustration
        and guesswork out of programming and put the fun back in.
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Great for power users, too.
        <span class="text-muted"></span>
      </h2>
      <p class="lead">
        Juno is built on Light Table, which means it's a decent
        editor as well as a pretty face. It's customisable to your heart's
        content (though the defaults are pretty good too) and has power features
        like multiple cursors, fuzzy file finding and Vim keybindings.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="{{site.url}}/images/editor.png">
    </div>
  </div>

  {% include footer.html %}

  <!-- /END THE FEATURETTES -->

</div>
